@import controllers.routes

<!DOCTYPE html>
<html>

<head>
    <title>eventshub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/toastr/toastr.min.css")" />

    @*<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery.jsonview.css")" />*@


    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")" />

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/web/main.css")" />




    <script data-main="@routes.Assets.versioned("javascripts/main-web.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")" type="text/javascript"></script>


</head>


<body>
    <div class="container-fluid">
    <div id="content"></div>






    </div>




    <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/jsoneditor.min.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.visible.min.js")" ></script>


</body>
</html>
